body {
  background-image: url("https://image.freepik.com/free-vector/dog-pattern-background_1273-167.jpg");
}

#titulo{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  font-size: 400%;
  text-align: center;
  color: white;
  font-family: 'Gluten', cursive;
}
.preguntas{
  font-size: 150%;
}
