body{
  background-image: url("IMG/back.jpg");
}

#titulo{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,119,0,0.9248074229691877) 0%, rgba(255,231,0,0.9248074229691877) 100%);
  font-size: 400%;
  text-align: center;
  color: white;
  font-family: 'Gluten', cursive;
}

.preguntas{
  font-size: 190%;
  padding: 1%
}

ul{
  font-size: 130%;
  font-family: serif;
  list-style: none;
  padding-bottom: 2%;
}

.box{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,114,18,0.9248074229691877) 0%, rgba(255,218,0,0.6530987394957983) 100%);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
}

.respuestas{
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  padding: 10px;

}

.info{
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  background-color: lightgray;
  padding: 1%;
}

.IMG{
  display: block;
  margin-left: 6%;
  margin-bottom: 1%;
}

#FINAL {
  background-color: transparent;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 6px;
  border: 2px solid #FFC300;
  text-decoration: none;
  display: block;
  margin: auto;
}

 #FINAL:hover{
    color: #000000;
    background-color: #ffffff;
  }
